@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <a asp-controller="Home" asp-action="Index">Home</a>
  <a asp-controller="Home" asp-action="NewDish">Add a Dish</a>
</div>

